
$dark: #202127;
$dark1: #2c2c35;
$dark2: #28292f;
$dark3: #dadada;
$dark4: #ffffff;
$dark5: #dadada;
$dark6: #f5a122;
$dark7: #f7941d;
$dark8: #8c8c8c;
$dark9: #525357;
$dark10: #3c3b40;
$dark11: #21b25b;
$dark12: #ffbe39;
$dark13: #352c2c;
$dark14: #6a3e3e;
$dark15: #a6a7a8;
$dark16: #ffffff;
$dark17: #525357;
$dark18: #3d3d3d;
$dark19: #393a3f;
$dark20: #4d4233;
$dark21: #313237;
$dark22: #dadada;
$dark23: #34353b;
$dark24: #2c2924;
$dark25: #2c2924;
$dark26: #6a593e;
$dark27: #3b3c44;
$dark28: #f3f3f3;

$same: #ff1d48;
$same1: #8c8c8c;

$light: #ffffff;
$light1: #f1f1f1;
$light2: #f9f9f9;
$light3: #282828;
$light4: #000000;
$light5: #3c3c3c;
$light6: #f7941d;
$light7: #f5a122;
$light8: #808285;
$light9: #808285;
$light10: #dbdbdb;
$light11: #20d400;
$light12: #030303;
$light13: #faf2f2;
$light14: #c78787;
$light15: #8c8c8c;
$light16: #7f8792;
$light17: #c1c1c1;
$light18: #f4e8d6;
$light19: #ededed;
$light20: #f4e8d6;
$light21: #f1f1f1;
$light22: #000000;
$light23: #f1f1f1;
$light24: #f6efe7;
$light25: #fcf8f3;
$light26: #cfa86b;
$light27: #f9f9f9;
$light28: #000000;

$light-gradient: linear-gradient(180deg, #ff8126 0%, #ffc32b 100%);
$dark-gradient: linear-gradient(180deg, #f5a122 0%, #ffc226 100%);
