// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '~bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import './variables';

// 3. Include remainder of required Bootstrap stylesheets
@import '~bootstrap/scss/variables';
@import "~bootstrap/scss/maps";
$theme-colors1: (
  
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $theme-colors1);
$new-breakpoints: (
 
);
$grid-breakpoints: map-merge($grid-breakpoints, $new-breakpoints);

@import '~bootstrap/scss/utilities';
@import './utilities';

@import '~bootstrap/scss/mixins';

// 4. Include any optional Bootstrap components as you like
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';

@import '~bootstrap/scss/utilities/api';
// 5. Add additional custom code here
@import './styles';
